{% if site.data.skills %}
<section class="skills-section section">

  <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>

  {% if site.data.skills.intro %}
  <div class="intro">
    <p>{{ site.data.skills.intro }}</p>
  </div>
  {% endif %}

  {% if site.data.skills.tools %}
  <div class="toolset">
    <h3>Toolset</h3>
    <p>I use a lot of different tools on a daily basis. I simply can't list them all, but some of these are: 
{% for tool in site.data.skills.tools %}
- {{ tool.tool }}
{% endfor %}</p>
  </div>
  {% endif %}

  <div class="skillset">
    {% for skill in site.data.skills.skills %}
    <div class="item">

      <h3 class="level-title">{{ skill.name }}</h3>

      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ skill.level }}">
        </div>
      </div><!--//level-bar-->

    </div><!--//item-->
    {% endfor %}
  </div>

</section><!--//skills-section-->
{% endif %}
